
.include-section {
    padding: 55px 30px 0;
}

.include-section .include-section__title {
    margin-bottom: 70px;
}

.include-section .include__box-title {
    margin-bottom: 13px;
}

.include-section .include__box-txt {
    line-height: 1.4;
    margin-bottom: 20px;
    font-family: "Roboto", sans-serif;
    color: #65686f;
}

.include-section .include__box {
    margin-bottom: 110px;
}
.include-section .include__box>img {
    margin-top: 10px;
}

.include-section .include__box.padLeft {
    padding-left: 45px;
}

.include-section .include__box.padRight {
    padding-right: 45px;
}