.quote-section {
    background: url("../../../assets/images/quote-bg.svg") no-repeat top;
    background-size: cover;
    padding: 215px 30px 120px;
}

.quote-section .quote-box {
    display: flex;
    padding-top: 280px;
    position: relative;

}

.quote-section .quote-user {
    align-items: center;
    display: flex;
    justify-content: flex-end;
    padding-right: 40px;
    width: 100%;
}

.quote-section .quote-message {
    left: 0;
    max-width: 446px;
    min-height: 286px;
    overflow: hidden;
    position: absolute;
    top: 0;
    width: 100%;
}

.quote-section .quote-box__circle {
    background-size: cover;
    border-radius: 50%;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    display: inline-block;
    height: 87px;
    margin-bottom: 5px;
    margin-left: 15px;
    width: 87px;
    -webkit-background-size: cover;
}

.quote-section .quote-user__name, .quote-section .quote-user__role {
    margin-bottom: 5px;
}

.quote-section .quote-message svg {
    /*height: 100%;*/
    height: 286px;
    width: 446px;
}

.quote-section .quote-message__txt {
    left: 0;
    line-height: 1.5;
    padding: 55px 50px;
    position: absolute;
    right: 0;
    top: 0;
    text-align: center;
}

.quote-section .quote-section__title {
    font-weight: 400;
    line-height: 1.32;
    margin-bottom: 55px;
}

.quote-section .quote-section__digital {
    align-items: center;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.section__title {
    margin-bottom: 55px;
}

.quote-section .section__title {
    margin-bottom: 40px;
}
.quote-section .quote-message__txt:before, .agency-section .agency-message__txt:before {
    border-color: transparent #27A37D transparent transparent;
    border-style: solid;
    border-width: 0 44px 44px 0;
    bottom: -44px;
    content: "";
    height: 0;
    position: absolute;
    right: 50px;
    width: 0;
}

.quote-section .quote-message__txt:after, .agency-section .agency-message__txt:after {
    border-color: transparent #ffffff transparent transparent;
    border-style: solid;
    border-width: 0 40px 40px 0;
    bottom: -39px;
    content: "";
    height: 0;
    position: absolute;
    right: 52px;
    width: 0;
}
.c-green-border-quote-message {
    border: 2px solid #27A37D;
}